body {
	font-family: Helvetica, Microsoft Yahei, sans-serif;
	background-color: #f7f7f7;
	margin: 0px;
}

div.dh {
	position: absolute;
	top: 0px;
	width: 1024px;
	background-color: #08c;
}

div.dc {
	position: absolute;
	top: 100px;
	width: 1024px;
	height: 300px;
}

div.df {
	position: absolute;
	top: 400px;
	width: 1024px;
	background-color: #08c;
}

div {
	margin: 0px;
}

ul.uh, ul.uhr {
	list-style-type: none;
	margin: 0 10px 0 10px;
	padding: 0;
}

ul.uhr {
	float: right;
}

li.lh {
	float: left;
}

li#luser {
    display: none;
}

a.ah, a.ahr {
	display: block;
	background-color: transparent;
	width: 170px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
	text-align: center;
#	border: 1px solid rgba(0,0,0,0.3);
    transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

a.ahr {
	width: 70px;
}

a.ah:hover, a.ahr:hover {
	background-color: #0ae;
    transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

a.ah:active, a.ahr:active {
	background-color: #0bf;
}
