html {
    overflow-x: hidden;
}

body {
    font-family: Helvetica, Microsoft Yahei, sans-serif;
    background-color: #f7f7f7;
    margin: 0px;
}

div.dh {
    position: absolute;
    top: 0px;
    width: 1024px;
    background-color: #08c;
    font-size: 16px;
}

div.dc {
    position: absolute;
    top: 100px;
    width: 1024px;
    height: 300px;
}

div.df {
    position: absolute;
    top: 400px;
    width: 1024px;
    background-color: #08c;
}

div {
    margin: 0px;
}

div.d-user-panel {
    display: none;
    position: absolute;
    background-color: #08c;
    z-index: 2;
}

ul.uh, ul.uhr, ul.u-user-panel {
    list-style-type: none;
    margin: 0 10px 0 10px;
    padding: 0;
}

ul.uhr {
    float: right;
}

li.lh {
    float: left;
}

li#luser {
    display: none;
}

a.ah, a.ahr, a.a-user-panel {
    display: block;
    background-color: transparent;
    width: 170px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

a.ahr {
    width: 70px;
}

a.ah:hover, a.ahr:hover, a.a-user-panel:hover {
    background-color: #0ae;
    text-decoration: none;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

a.ah:active, a.ahr:active, a.a-user-panel:active {
    background-color: #0bf;
}
