.editor-title, .editor-keyword {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-left: 60px;
}

.editor-bar {
    margin: 10px 0;
}

.editor-content {
    background: white;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    margin: 10px 0;
    padding: 5px;
    font-family: Helvetica, Microsoft Yahei, sans-serif;
    font-size: 14px;
}

.editor-submit {
    margin: 10px 0;
}

.l-editor-title, .l-editor-keyword {
    position: absolute;
    left: 10px;
    line-height: 35px;
    font-size: 14px;
}

.i-editor-title, .i-editor-keyword {
    border: none;
    outline: 0;
    background-color: inherit;
    line-height: 30px;
    font-size: 14px;
    width: 100%;
}

a {
    text-align: center;
    text-decoration: none;
}

.a-editor-submit {
    display: block;
    background-color: #08c;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 16px;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.a-editor-submit:hover {
    background-color: #0ae;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
}

.a-editor-submit {
    background-color: #0bf;
}

.a-editor-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    color: #666;
#    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: Times New Roman;
}

.a-editor-btn:hover {
    background-color: #ccc;
}

.a-editor-btn:active {
    background-color: #ddd;
}

.a-editor-btn.color {
    background-color: red;
}

.d-editor-btn.colorpanel {
    display: none;
    position: absolute;
}
